# compiled output
/frontend/dist/
/frontend/tmp/

# dependencies
/frontend/bower_components/
/frontend/node_modules/

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/testem.log
/frontend/yarn-error.log

# ember-try
/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try

# rust
/ws/target/
**/*.rs.bk

# os
**/.DS_Store

# viewer
/viewer/
/viewer.xcodeproj/

# git
.git
