<div class="reaction-controls">
  <ReactionButton @type="like">👍</ReactionButton>
  <ReactionButton @type="lol">😂</ReactionButton>
  <ReactionButton @type="shook">😮</ReactionButton>
  <ReactionButton @type="scream">😱</ReactionButton>
  <ReactionButton @type="sweat">😅</ReactionButton>
  <ReactionButton @type="angry">😡</ReactionButton>
  <ReactionButton @type="cry">😭</ReactionButton>
  <ReactionButton @type="scare">😨</ReactionButton>
  <ReactionButton @type="heart">❤️</ReactionButton>
  <ReactionButton @type="poop">💩</ReactionButton>
</div>
